@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html {
  font: 300 15px/1.8 var(--main-font);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
}

h1 {
  margin: 0;
  color: var(--main-color);
  background-color: var(--background-color);
  top: 0;
  left: 1rem;
  padding-left: 2rem;
  line-height: 2;
  margin-top: 1px;
  z-index: 1;
  transition: all 300ms;
}

img {
  width: 50vw;
  padding-left: 9vw;
}

section {
  height: 100vh;
}

#bounce {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: var(--text-color);
  font-size: 5cqw;
  text-shadow: 0 0 10px var(--text-shadow-color);
  animation: bounce 1s infinite;
}

/* ANIMATIONS */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

p {
  font-size: 50px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.garden {
  background-image: url("garden.jpg");
  background-size: cover;
  background-position-y: bottom;
}

/* SNAIL */

/* NAV BAR */

.navigation {
  background-color: var(--navigation-background-color);
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 3cqw;
  font-weight: 900;
}

.navigation a {
  padding: 1rem;
  text-decoration: none;
  color: var(--navigation-text-color);
}

.navigation a:hover {
  color: var(--navigation-hover-color);
  transition: all 500ms;
}

/* HEADING */

.enabled {
  color: var(--text-color);
  background-color: var(--heading-background-color);
  position: sticky;
}